<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBexJK7sFIYHjbDIXxmVwbozJ9jhaOjAwM</string>
	<key>GCM_SENDER_ID</key>
	<string>842463606957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagrim.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagrim-3ec80</string>
	<key>STORAGE_BUCKET</key>
	<string>instagrim-3ec80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842463606957:ios:b4a83655bfe78f901eee24</string>
</dict>
</plist>